AUTH_SECRET=
DATABASE_URL="postgresql://username:password@host:5432/database?sslmode=require"
TEST_DATABASE_URL="postgresql://helpdesk:helpdesk@localhost:5433/it_helpdesk_test?sslmode=disable"
SEED_ADMIN_NAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
